<div class="v-card" >
  <!-- Header -->
  <header>
    <ul class="list-inline">
      <li class="active"><a href="users/<%= current_user_login.user.id %>">Back to profile</a></li>
    </ul>
  </header>
  <!-- tab Content -->
  <div class="tab-content">
    <!-- Tab Pane - Home -->
    <div class="tab-pane fade in active" id="home">

      <div class="ui segment">
        <h3>Mailbox</h3>

        <div class="ui list">
          <div class="item">
            <% @conversations.each do |conversation| %>
              <% if conversation.sender_id == current_user_login.id || conversation.recipient_id == current_user_login.id %>
                <% if conversation.sender_id == current_user_login.id %>
                  <% recipient = UserLogin.find(conversation.recipient_id) %>
                <% else %>
                  <% recipient = UserLogin.find(conversation.sender_id) %>
                <% end %>
                <p>Conversation with: <%= link_to recipient.user.first_name, conversation_messages_path(conversation)%></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>


      <div class="ui segment">
        <h3>All Users</h3>
        <div class="ui list">
          <% @users.each do |user| %>
            <% if user.id != current_user_login.id %>
            <div class="item">
              <%= user.first_name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user_login.id, recipient_id: user.id), method: 'post'%>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>