<div class="block-heading-two">
  <h3><span>The fans</span></h3>
</div>  
<!-- Our team starts -->
            
<div class="team-six">
  <div class="row">
    <div class="col-md-3 col-sm-6">
    <% @users.each do |user| %>
      <!-- Team Member -->
      <div class="team-member">
        <!-- Image -->
        <img class="img-responsive" src="<%= user.avatar %>" alt="" />
        <!-- Name -->
        <h4><%= user.first_name %> <%= user.last_name %></h4>
        <!-- Team Links -->
        <div class="team-links">
          <% user.teams.each do |team| %>
            <%= image_tag team.icon, class: 'team-links' %></span>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>

<!-- Our team ends -->    
   
      
      <!-- Main content ends -->
      